@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Müşteri bilgileri ve üretilmiş malzemeleri görebilrisiniz</h1>
    <p><a href="/CustomerOrders">Müşterileri ve ürünleri göster</a>.</p>
</div>
